@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Nanum+Myeongjo&display=swap');

h1 {
    font-family: 'Nanum Myeongjo', Times, serif ;
    font-size: 3em;
}

h2{
    font-family: 'Nanum Myeongjo', Times, serif ;
    font-size: 1.7em;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    margin: 0;
    background-color: #494949;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

nav a{
    font-family: 'Nanum Myeongjo', Times, serif;
    font-size: 1.3em;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    transition: background-color 0.3s;
}


#content{
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
  width: 100px;
  transition: none;
}

.navbar a.logo-link:hover {
    background-color: transparent;
}

nav{
    display: flex;
    justify-content: space-around;
}

.navbar a:hover {
    background-color: #141414;
    border-radius: 5px;
}

header{
    background-color: #494949;
    display: grid;
    grid-template-columns: 150px auto;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#hero-img{
    width: 100%;
    height: 1000px;
    
}

#hero-box{
    display: grid;
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

#hero-msg{
text-align: center;
grid-column: 1/4;
grid-row: 1/4;
z-index: 1;
padding-top: 25%;
color: white;

}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

body{
    background-color: white;
    font-family: 'Cormorant Gramond', Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.picture{
    height: 200px;
    width: 200px;
}

#stoic-p{
    grid-column: 1/3;
    text-align: center;
    
}

#stoic-p h1{
    margin-top: 10%;
}

#wisdom-p{
    text-align: center;
    
}

#temperance-p{
    text-align: center;
}

#justice-p {
    text-align: center;
}

#courage-p {
    text-align: center;
}

#options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    align-items: center;
    justify-items: center;
}

#option-img1 {
    height: 500px;
    width: 500px;
    
}

#option-img2 {
    height: 500px;
    width: 500px;
}

#option-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    
}
#option-1 a{
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration:none;
    font-family: 'Nanum Myeongjo', Times, serif;
    font-size: 1.7em;
    color: white;
}

#option-1 img{
    z-index: -1;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 10px solid black;
    filter: brightness(75%);
}

#option-2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

#option-2 a{
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
      margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-family: 'Nanum Myeongjo', Times, serif;
    font-size: 1.7em;
    color: white;
}

#option-2 img{
    z-index: -1;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 10px solid black;
    filter: brightness(75%);
}


#option-2{
    text-align: center;
}

#content h1{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

#meet-title{
    grid-column: 1/3;
}

#zeno img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
}

#zeno{
   text-align: center;
}

#seneca{
    text-align: center;
}

#seneca img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
}

#marcus img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
}

#marcus{
   text-align: center;
   padding-top: 10% ;
}

#epictetus img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black;
}

#epictetus{
   text-align: center;
   padding-top: 10%;
}

.button {
    background-color: #494949;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: black;
    color: white;
  }
  

#journey-grid{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


  #start{
    grid-row: 1/2;
    text-align: center;
}

#study{
    grid-row: 2/3;
    text-align: center;
}

#study img{
    grid-row: 2/3;
    height: 200px;
}

#practice{
    grid-row: 3/4;
    text-align: center;
}

#practice img{
    grid-row: 3/4;
    height: 200px;
}

#live{
    grid-row: 4/5;
    text-align: center;
}

#live img{
    grid-row:4/5;
    height: 200px;
}

#join{
    grid-row: 5/6;
    text-align: center;
}

#join img{
    grid-row: 5/6;
    height: 200px;
}

#patience{
    grid-row: 6/7;
    text-align: center;
}

#patience img{
    grid-row: 6/7;
    height: 200px;
}

footer{
        background-color: #494949;
        color: white;
        padding: 25px 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2%;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: white;
    text-decoration: none;
    font-family: 'Nanum Myeongjo', Times, serif;
    font-size: 1.4em;
}

footer p{
    font-size: 1.4em;
    text-decoration: none;
    font-family: 'Nanum Myeongjo', Times, serif;
    color: white;
    margin:0%
}

footer .social img{
    padding-top: 15px;
    height: 80px;
}

