main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

h1{
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 1;
}

#left{
    grid-column: 1/2;
    grid-row: 1/6;
    
}
